<app-navibar></app-navibar>

<!-- <input #todoInput type="text" (keyup.enter)="add(todoInput.value)" />

<ul>
  <li *ngFor="let todo of todos$ | async">{{ todo.text }}</li>
</ul>

<ul>
  <li *ngFor="let todo of todos$ | async">{{ todo.text }}</li>
</ul>

<ul>
  <li *ngFor="let todo of todos$ | async">{{ todo.text }}</li>
</ul> -->
<div class="todo-container">
  <h1 class="header">Todo-List</h1>
  <div class="form">
    <div class="search_container">
      <div class="search_bar_container">
        <div class="search_input">
          <fa-icon class="search_icon" [icon]="faSearchIcon"></fa-icon>
          <input
            class="search_bar"
            type="search"
            placeholder="take a break.."
            #todoInput
            (keyup.enter)="onSubmit(todoInput.value)"
          />
        </div>
        <button class="search_btn" (click)="onSubmit(todoInput.value)">
          Submit
        </button>
      </div>
    </div>
    <div class="show-content">
      <ul *ngFor="let todo of todos$ | async">
        <li>
          <div class="todo">{{ todo.text }}</div>
          <div class="remove" (click)="onRemove(todo)">
            <fa-icon class="icon" [icon]="faTimes"></fa-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
