
nav{
    display: flex;
    justify-content: flex-start;
    font-family: 'Noto Sans JP', sans-serif;
    background: #20CC9F;
    height: 60px;
}

.navbar{
    font-size: 1.5rem;
    width: 130px;   
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>a{
    text-decoration: none;
    padding: .5rem;
    color: #fff;
}

.navbar:hover{
    background: #1FA17F;
}