
.videolist_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    align-items: center;
}

.video_img>img{
    height: 130px;
    flex-basis: 2;
}

.title_container{
  display: flex;
  height: 129px;
  flex-direction: column;
  width: 100%;
  margin-left: 0.5rem;
}

.video_title{
    font-size: 1rem;
    color: #4A5151;
    flex-basis: 90px;
    display: flex;
    align-items: center;
}

.faPlus{
  margin-right: .2rem;
}

.watch_later_btn{
  font-family: 'Noto Sans JP', sans-serif;
  padding: 12px 5px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  line-height: 1.25;
  width: 40%;
  background: #FC6E51;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-left: auto;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.watch_later_btn::after{
  content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
}

.watch_later_btn:hover{
  background-color: #E96436;
}

.watch_later_btn:active{
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.watch_later_btn:disabled{
  background-color: #F5C8B8;
}

@media (max-width: 468px) {
  .videolist_container{
    align-items: center;

  }

  .video_title{
    font-size: 0.8rem;
  }


.video_img{
  border: 1px seagreen solid;
}

  .video_img>img{
    height: 80px;
  }
}
