<div
  class="list_main_container"
  *ngFor="let list of videoLists$ | async"
  (click)="onSelected(list)"
>
  <div class="videolist_container">
    <div class="video_img">
      <img src="{{ list.picURL }}" alt="{{ list.title }}" />
    </div>
    <div class="title_container">
      <div class="video_title">{{ list.title }}</div>
      <button
        class="watch_later_btn"
        (click)="onAddTodo(list, $event)"
        [disabled]="isDisabled"
      >
        <fa-icon class="faPlus" [icon]="faClock"></fa-icon>
        稍後觀看
      </button>
    </div>
  </div>
</div>

<!-- <div class="videolist_container">
    <div class="video_img">
      <img
        src="https://images.unsplash.com/photo-1627308595228-9d0497edbe74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80"
        alt="hello"
      />
    </div>
    <div class="title_container">
      <div class="video_title">
        30 天精通 RxJS (11)：實務範例 - 完整拖拉應用
      </div>
      <div class="watch_later_btn">稍後觀看</div>
    </div>
  </div>

  <div class="videolist_container">
    <div class="video_img">
      <img
        src="https://images.unsplash.com/photo-1627308595228-9d0497edbe74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80"
        alt="hello"
      />
    </div>
    <div class="title_container">
      <div class="video_title">
        30 天精通 RxJS (11)：實務範例 - 完整拖拉應用
      </div>
      <div class="watch_later_btn">稍後觀看</div>
    </div>
  </div>
  <div class="videolist_container">
    <div class="video_img">
      <img
        src="https://images.unsplash.com/photo-1627308595228-9d0497edbe74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80"
        alt="hello"
      />
    </div>
    <div class="title_container">
      <div class="video_title">
        30 天精通 RxJS (11)：實務範例 - 完整拖拉應用
      </div>
      <div class="watch_later_btn">稍後觀看</div>
    </div>
  </div>
  <div class="videolist_container">
    <div class="video_img">
      <img
        src="https://images.unsplash.com/photo-1627308595228-9d0497edbe74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80"
        alt="hello"
      />
    </div>
    <div class="title_container">
      <div class="video_title">
        30 天精通 RxJS (11)：實務範例 - 完整拖拉應用
      </div>
      <div class="watch_later_btn">稍後觀看</div>
    </div>
  </div>
  <div class="videolist_container">
    <div class="video_img">
      <img
        src="https://images.unsplash.com/photo-1627308595228-9d0497edbe74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80"
        alt="hello"
      />
    </div>
    <div class="title_container">
      <div class="video_title">
        30 天精通 RxJS (11)：實務範例 - 完整拖拉應用
      </div>
      <div class="watch_later_btn">稍後觀看</div>
    </div>
  </div>
</div> -->
